<div class="modal-content">
    <span id="closeModalButton">&times;</span>
    <h2>Novo Tema</h2>
    <form id="addThemeForm">
        <label for="name">Nome do tema:</label>
        <input type="text" id="name">
        <label for="primaryColor">Cor primária:</label>
        <input type="color" id="primaryColor" required>
        <label for="secondaryColor">Cor secundária:</label>
        <input type="color" id="secondaryColor" required>
        <label for="successColor">Cor de sucesso:</label>
        <input type="color" id="successColor" required>
        <label for="dangerColor">Cor de perigo:</label>
        <input type="color" id="dangerColor" required>
        <label for="warningColor">Cor de aviso:</label>
        <input type="color" id="warningColor" required>
        <button type="button" id="addThemeButton">Adicionar tema</button>
        <button type="button" id="updateTheme" disabled>Atualizar tema</button>
    </form>
</div>